@import '../variables/variables.scss';

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

%background-style {
  background: $bg-color-card;
  border: 1px solid $color-white;
  border-radius: 15px;
}

%textGray-style {
  color: $text-color-gray;
  font-size: 18px;
}
