$box-shadow: 2px 1px 10px #000;
$font-family: 'Onest', sans-serif;
$color-white: #fff;

$text-color-gray: #8a92a4;
$text-color: #9399a2;
$color-black: #0f1f32;
$color-title: #005bff;
$bg-color: #5941a3;
$bg-color-card: #dbe4fa;
$border-color: #273446;
$fwbold: 700;
$border-radius: 20px;

$color1: #b9c7f6;
$color2: #d1c0b6;
