@import '../styles/variables.scss';

@media (max-width: 991px) {
  .app {
    &__main {
      flex-direction: column;
    }
  }
  .weather {
    margin-right: 0;
  }
  .forecast {
    width: 100%;
    padding: 0;
  }
  .weatherCard__item {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .app {
    height: 100%;
  }

  .MuiInputBase-input {
    width: 200px !important;
  }

  .desktop-location {
    display: none;
  }
  .mobile-location {
    display: block;
  }

  .weatherCard__item {
    width: 190px;
  }
}

@media (max-width: 668px) {
  .forecast {
    background: none;
    border: none;
    width: 100%;
    &__locale {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &__item {
      flex-direction: column;
      width: 180px;
      background: var(--bg-color-block);
      border-radius: 15px;
      padding: 20px 10px;
    }
    &__bar {
      display: none;
    }
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__temp__text {
      font-size: 40px;
    }
  }

  .weatherCard__item {
    width: 170px;
  }
}

@media (max-width: 568px) {
  .weatherCard__item {
    width: 150px;
  }

  .weatherCard__value {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .weatherCard__item {
    width: 100%;
  }
}
