@import '../../styles/variables.scss';

.weatherCard {
  margin-top: 20px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    display: flex;
    width: 200px;
    @extend %background-style;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__sunriseSunset {
    display: flex;
    width: 100%;
    justify-content: space-between
  }

  &__text{
    @extend %textGraySmall;
  }

  &__name {
    margin-left: 10px;
  }

  &__value {
    color: var(--weather-temp);
    font-weight: bold;
    font-size: 22px;
  }

  &__img {
    width: 20px;
    height: 20px;
  }
}

.sunrise__img {
  width: 30px;
  height: 30px;
}

.sunrise__text {
  color: var(--text-color-gray);
}

.sunrise__time {
  color: var(--weather-temp);
  font-weight: $fwbold;
}
