@import '../../styles/variables.scss';

.weather {
  flex-grow: 1;
  margin-right: 20px;

  &__container {
    @extend %background-style;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__city {
    font-weight: $fwbold;
    color: $color-white;
    font-size: 25px;
    margin: 0;
  }

  &__item {
    width: 300px;
    margin: 20px 0;
    @include flex(space-between, center);
  }

  &__animate {
    width: 60px;
  }

  &__temp {
    font-size: 50px;
    margin: 0px 20px;
    position: relative;
    font-weight: $fwbold;
    color: var(--weather-temp);
  }

  &__info {
    @include flex(space-around, center);
  }

  &__icon {
    width: 100px;
    position: absolute;
    left: -66px;
    bottom: 14px;
  }

  &__main__time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main__title {
    @extend %textGraySmall;
  }
}

.weather-description__span {
  font-size: 14px;
  color: var(--weather-text-description);
  font-weight: 500;
}

.weather-description__feels,
.weather-description__text {
  color: var(--text-color-main);
  font-size: 18px;
}

.clock__big {
  color: var(--weather-temp);
  margin-right: 10px;
}

.mobile-location {
  display: none;
}

.blocks-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
