

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

%background-style {
  background: var(--bg-color-block);
  border-radius: 15px;
}

%textGray-style {
  color: var(--text-color-main);
  font-size: 18px;
}

%textGraySmall {
  color: var(--text-color-gray);
  font-size: 14px;
}
