@import './mixins-placeholders.scss';

$box-shadow: 2px 1px 10px #000;
$font-family: "Open Sans", serif;
$color-white: #fff;

$text-color-gray: #8a92a4;
$text-color: #9399a2;
$color-black: #0f1f32;
$color-title: #005bff;
$bg-color: #5941a3;
$bg-color-card: #dbe4fa;
$border-color: #273446;
$fwbold: 700;
$border-radius: 20px;

$color1: #b9c7f6;
$color2: #d1c0b6;

.light {
    --bg-color-main: linear-gradient(to bottom left, #b9c7f6 0%, #b9c7f6 50%, #d1c0b6 100%);
    --bg-color-block: #dbe4fa;
    --text-color-gray: #8a92a4;
    --text-color-main:#0f1f32;
    --weather-temp: #0f1f32;
    --weather-text-description: #8a92a4;
}

.dark {
    --bg-color-main: radial-gradient(circle at top left, #101526,#1b2637);
    --bg-color-block: #0c101d;
    --input-border-black: #535f71;
    --weather-text-description: #005bff;
    --text-color-gray: #535f71;
    --text-color-main: #9ca5b5;
    --text-color-blue: #005bff;
    --weather-temp: #9ca5b5;
}