@import '../../variables/variables.scss';
@import '../../variables/mixins-placeholders.scss';

.header {
  padding: 10px;
  margin: 20px 0;
  @extend %background-style;

  &__container {
    @include flex(space-between, center);
  }

  &__title {
    font-weight: $fwbold;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    color: $color-title;
    margin-bottom: 0;
  }

  &__lightBtn {
    color: #c2c8dc !important;
  }

  &__span {
    background: $color-white;
    border-radius: $border-radius;
    padding: 2px;
  }

  &__logo {
    width: 25px;
    height: 25px;
  }

  &__brand {
    @include flex(center, center);
  }
}

.custom-text {
  @extend %textGray-style;
}
