@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
@import '../src/variables/variables.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background: linear-gradient(90deg, #b9c7f6, #d1c0b6);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  object-fit: cover;
  font-family: $font-family;
  opacity: 1;
  transition: background-image 1s ease;
  width: 100wh;
  height: 100vh;
}

p {
  margin-bottom: 0;
}

.card {
  background: $bg-color-card;
  border-radius: $border-radius;
  padding: 15px;
  
}

.card-body {
  padding: 0;
}

time {
  color: $color-white;
}

.card-text, .card-title {
  color: $text-color;
}

.card-title {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
	padding: 0 15px;
}



.app__main {
  display: flex;
  justify-content: space-between;
}
