@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './styles/variables.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  transition: all 0.1s linear;
}

body {
  background-repeat: no-repeat;
  background: var(--bg-color-main);
  width: 100%;
  min-height: 100vh;
}

.app {
  background: var(--bg-color-main);
  min-height: 100vh;
  padding: 10px 0;
  font-family: $font-family;
  opacity: 1;
  transition: background-image 1s ease;
  transition: all 0.3s linear;

  &__main {
    display: flex;
    align-items: flex-start;
  }
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
